.admin_invests_table{
    background-color: #F4F4F4;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
}

.admin_invests_table_heading{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 15px 25px;
    // gap: 50px;
    p{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:578px) {
    .admin_invests_table_heading{
        grid-template-columns: repeat(4,1fr) 50px 50px;
    }
}